In [1]:
import pandas as pd
import numpy as np
from sklearn import svm
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
def getAccuracy(testSet, predictions):
    correct = 0;
    for x in range(len(testSet)):
        if testSet[x] == predictions[x]:
            correct += 1
    return (correct/float(len(testSet))) * 100.0

In [3]:
df = pd.read_csv("./Datasets/letterdata.csv")
df.head(10)

,letter,xbox,ybox,width,height,onpix,xbar,ybar,x2bar,y2bar,xybar,x2ybar,xy2bar,xedge,xedgey,yedge,yedgex
0,T,2,8,3,5,1,8,13,0,6,6,10,8,0,8,0,8
1,I,5,12,3,7,2,10,5,5,4,13,3,9,2,8,4,10
2,D,4,11,6,8,6,10,6,2,6,10,3,7,3,7,3,9
3,N,7,11,6,6,3,5,9,4,6,4,4,10,6,10,2,8
4,G,2,1,3,1,1,8,6,6,6,6,5,9,1,7,5,10
5,S,4,11,5,8,3,8,8,6,9,5,6,6,0,8,9,7
6,B,4,2,5,4,4,8,7,6,6,7,6,6,2,8,7,10
7,A,1,1,3,2,1,8,2,2,2,8,2,8,1,6,2,7
8,J,2,2,4,4,2,10,6,2,6,12,4,8,1,6,1,7
9,M,11,15,13,9,7,13,2,6,2,12,1,9,8,1,1,8

In [5]:
df.shape

(20000, 17)

### Split Data

In [6]:
x, y = np.array(df)[:, 1:16], np.array(df.letter)[:]

In [7]:
x_train = x[:16000, :]
x_test = x[16001:, :]
y_train = y[:16000]
y_test = y[16001:]

### Build Model

In [8]:
clf = svm.SVC(gamma = 0.25, C = 3)
##### Gamma is a measure of influence of a data point. It is inverse of distance of influence. C is penalty of wrong classifications (in simple terms, how many misclassifications are allowed).

In [9]:
clf.fit(x_train, y_train)

SVC(C=3, gamma=0.25)

In [10]:
y_pred = clf.predict(x_test)

In [17]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_pred)
# Calling getAccuracy function instead of using array comparison to check accuracy

0.940735183795949

In [12]:
y_grid = np.column_stack([y_test, y_pred])

In [13]:
print(y_grid)

[['N' 'N']
 ['V' 'V']
 ['I' 'I']
 ...
 ['T' 'T']
 ['S' 'S']
 ['A' 'A']]

In [14]:
np.savetxt("ocr.csv", y_grid, fmt = '%s')

In [15]:
import string
lab = list(string.ascii_uppercase[0:26])
plab = ["Pr "+s for s in lab]
# Filter those cases where the model commited mistake and analyze the mistake, which characters most mistakes accured

In [16]:
from sklearn import metrics
import seaborn as sns

cm = metrics.confusion_matrix(y_test, y_pred, labels = lab)

df_cm = pd.DataFrame(cm, index = [i for i in lab],
                    columns = [i for i in plab])
plt.figure(figsize = (20, 16))
sns.heatmap(df_cm, annot = True, fmt = 'g')